// COLORS
Tigerlily = #E15D44
BlueTurquoise = #55B4B0
FuchsiaRose = #C3447A
LilacGrey = #9896A4
IkeaYellow = #FFCC00
IkeaBlue = #003399
OuterSpace = #2D383A


main = OuterSpace
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #171717
lightmain = #735360
rosa = #D68684
hellrosa = #F1B0B0
licht = #EBD0C4
// Resolution
cut = 37.5rem
